@use 'globals' as *;

.recommendations__container {
  margin: $base-5 auto;
  padding: $base-5 $base-4;
  max-width: $boxed;
  font-size: $font-size-base;
  background: $color-bg-body;
  color: $color-text-dark;
  font-family: $font-family-body;
  display: flex;
  flex-direction: column;
  gap: $base-2;

  h1,
  h2 {
    font-family: $font-family-title;
    color: $color-text-dark;
  }
}
