@use 'globals' as *;

.recommendations__container {
  &-top {
    display: flex;
    flex-direction: column;
    gap: $base-5;

    .top {
      &-tag {
        padding-bottom: $base-1_5;
        font-weight: 600;
        font-size: $base-3_5;
        border-bottom: solid $base-0_5 $color-grey;

        &__text {
          padding-bottom: $base-1;
          padding-right: $base-1;
          border-bottom: solid $base-1 $color-black;

          &::before {
            content: '';
            display: inline-block;
            vertical-align: baseline;
            width: $base-3_5;
            height: $base-3_5;
            border-radius: $base-0_75;
            background-color: $color-orange;
            margin-right: $base-2;
          }
        }
      }

      &-text {
        @include title-italic;
        font-size: $base-6;
      }
    }
  }

  &-destacats {
    border: 1px solid green;
  }

  &-no-destacats {
    border: 1px solid blue;
  }

  .card {
    border: 1px solid black;
    background-color: rgba(128, 128, 128, 0.769);
    font-size: $base-4;

    &-background {
    }

    &-content {
      font-family: $font-family-card;

      &__title {
        @include title-italic;
        font-size: $base-8;
      }

      &__tag {
        background-color: $color-orange;
        border-radius: $base-0_75;
        padding-inline: $base-1;
        text-transform: uppercase;
        transform: scale(1.25);
        font-weight: 500;
        font-size: $base-3;
      }

      &__description {
      }
    }

    // Estils personalitzats card 'destacat'
    &--destacat .card {
      &-background {
        &__image {
          display: none;
        }
      }

      &-content {
        &__title {
        }
      }
    }

    // Estils personalitzats card 'no-destacat'
    &--no-destacat .card {
      &-background {
        &__image-destacada {
          display: none;
        }
      }
      &-content {
        &__title {
        }

        &__description {
          display: none;
        }

        &__ranges {
          display: none;
        }

        &__taxonomies {
          &-temes,
          &-ambits {
            display: none;
          }
        }
      }
    }
  }
}
