@use 'globals' as *;

.recommendations__container {
  &-top {
    display: flex;
    flex-direction: column;
    gap: $base-5;

    .top {
      &-tag {
        padding-bottom: $base-1_5;
        font-weight: 600;
        font-size: $base-3_5;
        border-bottom: solid $base-0_5 $color-grey;

        &__text {
          padding-bottom: $base-1;
          padding-right: $base-1;
          border-bottom: solid $base-1 $color-black;

          &::before {
            content: '';
            display: inline-block;
            vertical-align: baseline;
            width: $base-3_5;
            height: $base-3_5;
            border-radius: $base-0_75;
            background-color: $color-orange;
            margin-right: $base-2;
          }
        }
      }

      &-text {
        @include title-italic;
        font-size: $base-6;
      }
    }
  }

  // Estils personalitzats card 'destacat'
  &-destacats {
    border: 1px solid green;

    .card--destacat .card {
      &-background {
        &__image {
          display: none;
        }
      }

      &-content {
        &__title {
          font-family: $font-family-destacat;
          font-style: normal;
        }

        &__taxonomies {
        }
      }
    }
  }

  // Estils personalitzats card 'no-destacat'
  &-no-destacats {
    border: 1px solid blue;

    .card--no-destacat .card {
      &-background {
        &__image-destacada {
          display: none;
        }
      }
      &-content {
        &__title {
        }

        &__description {
          display: none;
        }

        &__ranges {
          display: none;
        }

        &__taxonomies {
          &-temes,
          &-ambits {
            display: none;
          }
        }
      }
    }
  }

  // Etils per totes les cards
  .card {
    border: 1px solid black;
    background-color: rgba(128, 128, 128, 0.769);
    font-size: $base-3_5;

    &-background {
    }

    &-content {
      font-family: $font-family-card;

      &__tag {
        background-color: $color-orange;
        border-radius: $base-0_75;
        padding-inline: $base-1;
        text-transform: uppercase;
        transform: scale(1.25);
        font-weight: 500;
        font-size: $base-3;
      }

      &__title {
        @include title-italic;
        font-size: $base-8;
      }

      &__description {
      }

      &__ranges {
        &-title {
          text-transform: uppercase;
          font-size: $base-4;
        }

        &-container {
          display: flex;
          flex-direction: column;
          gap: $base-1;
        }
      }

      &__range {
        &-block {
          display: flex;
          align-items: center;
          gap: $base-2;

          .range-block {
            &__label {
            }

            &__input {
              -webkit-appearance: none;
              appearance: none;
              background-color: $color-white; /* Fons del range per Chrome */
              height: $base-2;
              border-radius: $base-2;

              /* Treure la bola en Chrome, Safari i Edge */
              &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
              }

              /* Treure la bola en Firefox */
              &::-moz-range-thumb {
                width: 0px;
                height: 0px;
                background: transparent;
                border: none;
              }

              /* Barra de progrés en Chrome, Safari i Edge */
              &::-webkit-slider-runnable-track {
                background: linear-gradient(
                  to right,
                  $color-orange 0%,
                  $color-orange var(--progress),
                  $color-white var(--progress),
                  $color-white 100%
                );
                height: $base-2;
                border-radius: $base-2;
              }
            
              /* Barra progrés en Firefox */
              &::-moz-range-progress {
                background: $color-orange;
                height: $base-2;
                border-radius: $base-2;
              }
            }
          }
        }
      }

      &__taxonomies {
        &-edats {
        }

        &-etiquetes {
        }
        &-temes {
        }

        &-ambits {
          display: none;
        }
      }

      &__taxonomy {
        &-title {
          text-transform: uppercase;
          font-size: $base-4;
        }

        &--etiqueta {
          font-size: $base-4;
          font-weight: 600;
        }
      }
    }
  }
}
